{% extends "base/base.html" %}

{% block content %}{% let (style_sheet, class_name) = turf::inline_style_sheet!("templates/about/about.scss") %}

<!-- @formatter:off -->
<style>
  {{ style_sheet }}
</style>
<!-- @formatter:on -->

<div class="{{class_name.about_container}}">
    <div class="{{class_name.about_block}}">
        <h1>
            Über dieses Projekt
        </h1>
    </div>
    <div class="{{class_name.about_block}}">
        Dieses Projekt enstand im Rahmen der Ausbildung zum Fachinformatiker Anwendungsentwicklung am Oberstufenzentrum
        Informations- und Medizintechnik in Berlin. <br>
        Unsere Gruppe, bestehend aus 3 Mitgliedern, hatte für die Umsetzung 5 Wochen Zeit.
    </div>

    <div class="{{class_name.about_block}}">
        <h2>
            Aufgabenstellung
        </h2>
    </div>
    <div class="{{class_name.about_block}}">
        Die Energiedaten der Website <a href="https://www.agora-energiewende.org/data-tools/agorameter">agora-energiewende.org</a>
        sollen per Software für einen beliebigen Zeitraum abgegriffen und in eine Datenbank überführt werden. <br>
        Es soll möglich sein verschiedene Datensätzen auszuwählen.
        Des weiteren sollen die Daten strukturiert über die Software dargestellt werden können.
    </div>

    <div class="{{class_name.about_block}}">
        <h2>
            Dokumentation
        </h2>
    </div>
    <div class="{{class_name.about_block}}">
        Eine Dokumentation dieses Projektes, einschließlich einer Entwickler- und Installationsdokumentation und des
        Quellcodes zu diesem Projekt sind hier zu finden:<br>
        <a href="https://github.com/myFavShrimp/agora-mining/tree/main">Github-Repository</a>
    </div>
</div>


{% endblock %}