{% let (style_sheet, class_name) = turf::inline_style_sheet!("templates/plotting/plotting.scss") %}
<!-- @formatter:off -->
<style>
    {{ style_sheet }}
</style>
<!-- @formatter:on -->

<div class={{class_name.chart_container}}>
    <canvas id="myChart"></canvas>
</div>

<script>
    var ctx = document.getElementById('myChart');
    const lineColor = '#7e767e';
    const textColor = '#cfc3cd';
    const data = {{ serde_json::to_string(data_sets).unwrap()|safe }};

    new Chart(ctx, {
        type: 'line',
        data: {
             datasets: data,
        },
        options: {
            // TODO: Units
            plugins: {
                legend: {
                    labels: {
                        color: textColor,
                    },
                },
            },
            scales: {
                y: {
                    type: 'logarithmic',
                    // colors: '#cfc3cd',
                    ticks: {
                        color: textColor,
                    },
                    grid: {
                        color: lineColor,
                    },
                },
                x: {
                    ticks: {
                        color: textColor,
                    },
                    grid: {
                        color: lineColor,
                    },
                }
            }
        }
    });
</script>
