{% let (style_sheet, class_name) = turf::inline_style_sheet!("templates/plotting/plotting.scss") %}
{% let checkboxes = AgoraEntities::all() %}

<form hx-get="/graph" hx-swap="outerHTML">
    <!-- @formatter:off -->
    <style>
        {{ style_sheet }}
    </style>
    <!-- @formatter:on -->

    <div class="{{class_name.graph_toolbar_wrapper }}">
        <div class="{{class_name.graph_toolbar}}">
            <div class="{{class_name.graph_toolbar_items}}">
                <div class="{{class_name.graph_toolbar_item}}">
                    <a class="{{class_name.refresh}}" hx-get="/refresh">
                        <span class="{{class_name.link_text}}"
                              id="{{crate::templates::REFRESH_BUTTON_ID}}">Datenbank Aktualisieren</span>
                        <span class="{{class_name.spinner}}"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="{{class_name.graph_toolbar}} {{class_name.full_width}}">
            <div class="{{class_name.graph_dataset_selection}}">
                {% for checkbox in checkboxes %}
                <label>
                    <input class="{{class_name.graph_dataset_input}}" type="checkbox">
                    {{ AgoraEntities::get_title(checkbox)|e }}
                </label>
                {% endfor%}
            </div>
            <div class="{{class_name.graph_toolbar_items}}">
                <div class="{{class_name.graph_toolbar_item}}">
                    <label for="from">Von</label>
                    <input class="{{class_name.graph_toolbar_datepicker}}" name="from_date" type="date" value="{{ self.formatted_from().unwrap() }}">
                </div>
                <div class="{{class_name.graph_toolbar_item}}">
                    <label for="to">Bis</label>
                    <input class="{{class_name.graph_toolbar_datepicker}}" name="to_date" type="date" value="{{ self.formatted_to().unwrap() }}">
                </div>
            </div>
            <button>Submit</button>
        </div>
    </div>
    <div class={{class_name.chart_container}}>
        <canvas id="myChart"></canvas>
    </div>

    <script>
        var ctx = document.getElementById('myChart');
        var lineColor = '#7e767e';
        var textColor = '#cfc3cd';
        <!-- @formatter:off -->
        var chartData = {{ serde_json::to_string(data_sets).unwrap()|safe }};
        <!-- @formatter:on -->

        new Chart(ctx, {
            type: 'line',
            data: {
                datasets: chartData,
            },
            options: {
                elements: {
                    point: {
                        radius: 3,
                        hoverRadius: 4,
                        hitRadius: 0,
                    },
                },
                plugins: {
                    tooltip: {
                        mode: 'x',
                        callbacks: {
                            label: function (context) {
                                return `${context.dataset.label}: ${context.formattedValue} ${context.dataset.unit}`;
                            }
                        }
                    },
                    legend: {
                        labels: {
                            color: textColor,
                        },
                    },
                },
                scales: {
                    y: {
                        type: 'logarithmic',
                        ticks: {
                            color: textColor,
                        },
                        grid: {
                            color: lineColor,
                        },
                    },
                    x: {
                        ticks: {
                            color: textColor,
                        },
                        grid: {
                            color: lineColor,
                        },
                    }
                }
            }
        });
    </script>
</form>
