<div>
    <canvas id="myChart"></canvas>
</div>

<script>
    var ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'line',
        data: {
            datasets: {{ serde_json::to_string(data_sets).unwrap()|safe }}
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Chart.js Line Chart - Logarithmic'
                }
            },
            scales: {
                y: {
                    type: 'logarithmic'
                }
            }
        }
    });
</script>
