@import "color";

.chart_container {
  background: $agora-container-on-background;
  border-radius: 1em;
  padding: 1em;
}

.graph_toolbar_wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  .graph_toolbar {
    background-color: $agora-container-on-background;
    border-radius: 1em;
    margin-bottom: 1em;
    padding: 1em;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.full_width {
      width: 100%;
    }

    .graph_dataset_selection {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;
      width: inherit;

      label {
        margin-left: 1em;

        .graph_dataset_input {
          accent-color: $agora-container-primary;
        }
      }
    }

    .graph_toolbar_items {
      display: flex;
      justify-content: end;
      align-items: center;
      flex-wrap: wrap;
      width: inherit;

      .graph_toolbar_item {
        min-width: 4em;
        min-height: 1.5em;
        cursor: pointer;
        width: fit-content;
        padding-right: 1em;

        select {
          background: none;
          border-radius: 1em;
          color: #cfc3cd;
          border-color: #cfc3cd;
        }

        .graph_toolbar_datepicker {
          background: transparent;
          border-radius: 1em;
          color: $agora-container-on-background-text;
          border-color: $agora-container-on-background-text;
        }
      }
    }
  }
}


.graph_buttons_wrapper {
  display: grid;
  font-size: 12px;
  height: fit-content;

  .graph_buttons {
    display: flex;
    gap: 0.2em;

    .graph_button {
      background: $agora-button;
      cursor: pointer;
      width: fit-content;
      padding: 1em;
      height: max-content;
      border-radius: 1em;
      border: none;
      color: $agora-container-on-background-text;
      font-weight: bold;

      transition: .4s;
      box-shadow: 0 1px 2px 0 $agora-button-shadow;

      &:hover {
        transition: .4s;
        box-shadow: 0 4px 12px 0 $agora-button-shadow;
      }

      &:active {
        transition: .2s;
        box-shadow: 0 2px 5px 0 $agora-button-shadow;
      }
    }
  }
}

.refresh {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: max-content;
  min-width: 3em;

  .spinner {
    display: none;
    margin: auto;
    width: 1rem;
    height: 1rem;
    border: 5px solid $agora-container-primary-text;
    border-bottom-color: #55006b;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  &.htmx-request {
    .spinner {
      display: inline-block;
    }

    .linkText {
      display: none
    }
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
