@import "color";

html {
  background-color: $agora-background;
  font-family: Arial, sans-serif;
  color: $agora-on-background;

  .navBar {
    background-color: $agora-container-primary;
    height: 75px;
    display: flex;

    .title {
      padding-left: 1em;
      font-size: 2.5em;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ul {
      margin: 0 0 0 auto;
      padding: 10px;

      li {
        display: inline-block;
        margin: 5px;
        padding: 10px;
        vertical-align: top;
        min-width: 75px;

        a {
          display: inline;
          position: relative;
          color: $agora-container-primary-text;
          width: fit-content;

          &.htmx-request {
            .linkText {
              display: none
            }
          }
        }
      }
    }
  }

  .baseContent {
    padding: 0 2em;
  }
}
