$agora-container-primary: #751290;
$agora-container-primary-text: #fcd7ff;
$agora-black: #000000;
$agora-background: #1e1b1e;
$agora-on-background: #cfc3cd;
$agora-container-on-background: #4c444d;
$agora-container-on-background-text: #cfc3cd;