<!DOCTYPE html>
{% let (normalize_sheet, normalize_class_name) = turf::inline_style_sheet!("templates/normalize.css") %}
{% let (style_sheet, class_name) = turf::inline_style_sheet!("templates/base.scss") %}

<html lang="en">
<head>
    <script src="https://unpkg.com/htmx.org@1.9.6"
            integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
            crossorigin="anonymous"></script>
    <title>agora-mining base.html</title>
</head>
<body>
<style>
    {{ normalize_sheet }}
    {{ style_sheet }}
</style>
<div id="content">
    <div class="{{class_name.nav_bar}}">
        <ul>
            <li><a hx-get="/hanna"><span class="{{class_name.link_text}}">Refresh</span><span class="{{class_name.spinner}}"></span></a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">About</a></li>
        </ul>
    </div>
    {% block content %}{% endblock %}
</div>
</body>
</html>